@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Bold'), 
	local('Montserrat-Bold'), 
	url('../fonts/Montserrat/montserratbold.woff2') format('woff2'), 
	url('../fonts/Montserrat/montserratbold.woff') format('woff'), 
	url('../fonts/Montserrat/montserratbold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: local('Lato Medium'), 
	local('Lato-Medium'), 
	url('../fonts/Lato/latomedium.woff2') format('woff2'), 
	url('../fonts/Lato/latomedium.woff') format('woff'), 
	url('../fonts/Lato/latomedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: local('Roboto Medium'), local('Roboto-Medium'), 
	url('../fonts/Roboto/Robotomedium.woff2') format('woff2'), 
	url('../fonts/Roboto/Robotomedium.woff') format('woff'), 
	url('../fonts/Roboto/Robotomedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}